{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Page building - {{ parent() }}
{% endblock %}

{% block body %}
    {%  if (app.user.roles is defined) and ('ROLE_ADMIN' in app.user.roles) %}
        <a href="{{ path('dashboard_admin') }}" class="btn btn-primary return-to-dashboard">{{ 'dashboard.owner.return' | trans }}</a>
    {% endif %}
    <div class="container">

        <h1>{{ building.name }}</h1>
        <div class="shadow-box">
            Ajouter un appartement
            <form enctype="multipart/form-data" method="post" action="{{ path('add_flat', {'idBuilding': building.id}) }}" id="search-offer-homepage">
                Nom: <input type="text" title="message" name="name" id="add-admin-mail" class="form-control"  style="width: 200px !important; display: inline !important;">
                Surface: <input type="text" title="message" name="surface" id="add-admin-mail" class="form-control"  style="width: 200px !important; display: inline !important;">
                Etage: <input type="text" title="message" name="floor" id="add-admin-mail" class="form-control"  style="width: 200px !important; display: inline !important;">

                <input type="submit" class="btn btn-primary" value="Ajouter">
            </form>
        </div>

        <h2>Liste des appartements</h2>

        <input type="text" id="myInput" onkeyup="showOwner()" placeholder="Entrer le nom d'un appartement" title="Type in a name" class="search-owner">

        <table class="table table-bordered table-striped well">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Surface</th>
                <th>Etage</th>
                <th>{{ 'dashboard.action' | trans }}</th>
            </tr>
            </thead>

            <tbody id="table-owner">
            {% for flat in flatArray %}
                <tr>
                    <td class="building-name"><a href="{{ path('building_page', {'id':flat.id}) }}">{{ flat.name }}</a></td>
                    <td>{{ flat.surface }}</td>
                    <td>{{ flat.floor }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('edit_flat', { 'id': flat.id, 'idBuilding':building.id }) }}">
                            {{ 'dashboard.owner.editOffer' | trans }}
                        </a>
                        <button class="modal-open btn btn-danger" data-href="{{ path('delete_flat', { 'id': flat.id, 'idBuilding':building.id }) }}">
                            {{ 'delete' | trans }}
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>

        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{ 'admin.sureOwner'|trans }}</h4>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-default" id="modal-btn-yes">{{ 'yes'|trans }}</a>
                        <button type="button" class="btn btn-primary" id="modal-btn-no">{{ 'no'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function showOwner() {
                let input, filter, ul, li, a, i;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                ul = document.getElementById("table-owner");
                a = ul.getElementsByTagName("tr");
                for (i = 0; i < a.length; i++) {
                    a[i].style.display = "none";
                }
                for (i = 0; i < a.length; i++) {
                    let h = a[i].getElementsByClassName("building-name")[0];
                    if (h.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        a[i].style.display = "";
                    } else {
                        a[i].style.display = "none";

                    }
                }
            }
        </script>
        <script>
            $(".modal-open").on("click", function(e){
                $('#modal-btn-yes').attr("href", $(this).data('href'));
                $("#mi-modal").modal('show');
            });

            $("#modal-btn-no").on("click", function(e){
                e.preventDefault();
                $("#mi-modal").modal('hide');
            });

            $("#payment-form_submit").on("click", function(){
                $("#mi-modal").modal('hide');
            });
        </script>

    </div>
{%  endblock %}