{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Liste des proprios - {{ parent() }}
{% endblock %}

{% block body %}
    {%  if (app.user.roles is defined) and ('ROLE_ADMIN' in app.user.roles) %}
        <a href="{{ path('dashboard_admin') }}" class="btn btn-primary return-to-dashboard">{{ 'dashboard.owner.return' | trans }}</a>
    {% endif %}
    <div class="container">

        <div class="shadow-box">
            Ajouter un building
            <form enctype="multipart/form-data" method="post" action="{{ path('add_building') }}" id="search-offer-homepage">
                Nom: <input type="text" title="message" name="name" id="add-admin-mail" class="form-control"  style="width: 200px !important; display: inline !important;">
                Adresse: <input type="text" title="message" name="location" id="add-admin-mail" class="form-control"  style="width: 200px !important; display: inline !important;">
                Code postale: <input type="text" title="message" name="zipcode" id="add-admin-mail" class="form-control"  style="width: 200px !important; display: inline !important;">
                Ville: <input type="text" title="message" name="city" id="add-admin-mail" class="form-control"  style="width: 200px !important; display: inline !important;">


                <input type="submit" class="btn btn-primary" value="Ajouter">
            </form>
        </div>

        <h2>Liste des batiments</h2>

        <input type="text" id="myInput" onkeyup="showOwner()" placeholder="{{ 'admin.enterCompnay'|trans }}" title="Type in a name" class="search-owner">

        <table class="table table-bordered table-striped well">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Code postale</th>
                <th>Ville</th>
                <th>{{ 'dashboard.action' | trans }}</th>
            </tr>
            </thead>

            <tbody id="table-owner">
            {% for building in buildings %}
                <tr>
                    <td class="building-name">{{ building.name }}</td>
                    <td>{{ building.location }}</td>
                    <td>{{ building.zipcode }}</td>
                    <td>{{ building.city }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('edit_building', { 'id': building.id }) }}">
                            {{ 'dashboard.owner.editOffer' | trans }}
                        </a>
                        <button class="modal-open btn btn-danger" data-href="{{ path('delete_building', { 'id': building.id }) }}">
                            {{ 'delete' | trans }}
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
        <div id="paginator-offer">
            <a href="{{ path('list_owner_admin', {'row':(page == 1?page:page-1)}) }}">&laquo;</a>
            {% for i in 1..total %}
                <a class="offer-page-link {% if i == page %}selected-page{% endif %}" href="{{ path('list_owner_admin', {'row':i}) }}">{{ i }}</a>
            {% endfor %}
            <a href="{{ path('list_owner_admin', {'row':(page == total?page:page+1)}) }}">&raquo;</a>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{ 'admin.sureOwner'|trans }}</h4>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-default" id="modal-btn-yes">{{ 'yes'|trans }}</a>
                        <button type="button" class="btn btn-primary" id="modal-btn-no">{{ 'no'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function showOwner() {
                let input, filter, ul, li, a, i;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                ul = document.getElementById("table-owner");
                a = ul.getElementsByTagName("tr");
                for (i = 0; i < a.length; i++) {
                    a[i].style.display = "none";
                }
                for (i = 0; i < a.length; i++) {
                    let h = a[i].getElementsByClassName("building-name")[0];
                    if (h.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        a[i].style.display = "";
                    } else {
                        a[i].style.display = "none";

                    }
                }
            }
        </script>
        <script>
            $(".modal-open").on("click", function(e){
                $('#modal-btn-yes').attr("href", $(this).data('href'));
                $("#mi-modal").modal('show');
            });

            $("#modal-btn-no").on("click", function(e){
                e.preventDefault();
                $("#mi-modal").modal('hide');
            });

            $("#payment-form_submit").on("click", function(){
                $("#mi-modal").modal('hide');
            });
        </script>

    </div>
{%  endblock %}